<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.reportAndRecommendation.mapper.RecommendationMapper">
    
    <resultMap type="Recommendation" id="RecommendationResult">
        <result property="recommendationId"    column="recommendation_id"    />
        <result property="reportId"    column="report_id"    />
        <result property="recommendationContent"    column="recommendation_content"    />
    </resultMap>

    <sql id="selectRecommendationVo">
        select recommendation_id, report_id, recommendation_content from recommendation
    </sql>

    <select id="selectRecommendationList" parameterType="Recommendation" resultMap="RecommendationResult">
        <include refid="selectRecommendationVo"/>
        <where>  
            <if test="reportId != null "> and report_id = #{reportId}</if>
            <if test="recommendationContent != null  and recommendationContent != ''"> and recommendation_content = #{recommendationContent}</if>
        </where>
    </select>
    
    <select id="selectRecommendationByRecommendationId" parameterType="Integer" resultMap="RecommendationResult">
        <include refid="selectRecommendationVo"/>
        where recommendation_id = #{recommendationId}
    </select>
        
    <insert id="insertRecommendation" parameterType="Recommendation" useGeneratedKeys="true" keyProperty="recommendationId">
        insert into recommendation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportId != null">report_id,</if>
            <if test="recommendationContent != null">recommendation_content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportId != null">#{reportId},</if>
            <if test="recommendationContent != null">#{recommendationContent},</if>
         </trim>
    </insert>

    <update id="updateRecommendation" parameterType="Recommendation">
        update recommendation
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportId != null">report_id = #{reportId},</if>
            <if test="recommendationContent != null">recommendation_content = #{recommendationContent},</if>
        </trim>
        where recommendation_id = #{recommendationId}
    </update>

    <delete id="deleteRecommendationByRecommendationId" parameterType="Integer">
        delete from recommendation where recommendation_id = #{recommendationId}
    </delete>

    <delete id="deleteRecommendationByRecommendationIds" parameterType="String">
        delete from recommendation where recommendation_id in 
        <foreach item="recommendationId" collection="array" open="(" separator="," close=")">
            #{recommendationId}
        </foreach>
    </delete>
</mapper>