<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.reportAndRecommendation.mapper.ReportMapper">
    
    <resultMap type="Report" id="ReportResult">
        <result property="reportid"    column="reportid"    />
        <result property="reportContent"    column="report_content"    />
    </resultMap>

    <sql id="selectReportVo">
        select reportid, report_content from report
    </sql>

    <select id="selectReportList" parameterType="Report" resultMap="ReportResult">
        <include refid="selectReportVo"/>
        <where>  
            <if test="reportContent != null  and reportContent != ''"> and report_content = #{reportContent}</if>
        </where>
    </select>
    
    <select id="selectReportByReportid" parameterType="Integer" resultMap="ReportResult">
        <include refid="selectReportVo"/>
        where reportid = #{reportid}
    </select>
        
    <insert id="insertReport" parameterType="Report" useGeneratedKeys="true" keyProperty="reportid">
        insert into report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportContent != null">report_content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportContent != null">#{reportContent},</if>
         </trim>
    </insert>

    <update id="updateReport" parameterType="Report">
        update report
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportContent != null">report_content = #{reportContent},</if>
        </trim>
        where reportid = #{reportid}
    </update>

    <delete id="deleteReportByReportid" parameterType="Integer">
        delete from report where reportid = #{reportid}
    </delete>

    <delete id="deleteReportByReportids" parameterType="String">
        delete from report where reportid in 
        <foreach item="reportid" collection="array" open="(" separator="," close=")">
            #{reportid}
        </foreach>
    </delete>
</mapper>